body {
font-family: Determination;
background-color: #c2d7ee; color: #005EFF; text-align: center;
}

.title {
color: black;
-webkit-text-fill-color: #005EFF;
-webkit-text-stroke-width: 1px;
}

#two {
font-size: 55px;
height: 85%;
}

h1 {
font-size: 60px;
padding-top; border-bottom:solid, width: 60px; 
letter-spacing: 1px;
}

#welcome {
font-size: 25px;
border: solid;
border-radius: 35px 5px 35px 5px;
border-width: 435px;
padding: 5px;
background-color: white;
letter-spacing: 1px;
color: black;
-webkit-text-fill-color: #005EFF;
-webkit-text-stroke-width: 1px;
}

a {
font-size: 30px;
letter-spacing: 1px;
color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 1px;
}

.mm1 {
width: 136px; height: 154px; padding-bottom: 5px;
}

.poke {
width: 175px; height: 182px; padding-left: 54px; padding-top: 5px;
}

#rom_button {
font-family: Determination;
font-size: 30px;
letter-spacing: 0.75px;
color: black;
-webkit-text-fill-color: #005EFF;
-webkit-text-stroke-width: 1px;
border-radius: 20px;
border: solid;
background-color: white;
}

