body {
font-family: Determination;
background-color: #c2d7ee;
color: #005EFF;
padding: 0;
margin: 0;
overflow-x: hidden;
}

header {   
background-color: white;   
height: 105px;   
box-shadow: 0 2px 4px; 
position: relative; 
top: -5px;
text-align: center;
}  

main { 
padding-top: 5px; 
} 
 
.title { 
color: black; 
-webkit-text-fill-color: #005EFF; 
-webkit-text-stroke-width: 1px;
text-align: center;
} 
 
#two { 
font-size: 55px; 
}

h1 { 
font-size: 60px; 
letter-spacing: 1px;
margin: 3px;
}

u { 
color: #005EFF; 
height: 2px; 
}

#d-circle {
padding: 5px;
margin: 3px;
border: solid #2F37D0; 
border-radius: 10px;
background-color: #EEEEEE;
font-size: 15px;
}